/* CSS Document */
/* Universal styles */
body {
  font-family: Helvetica, serif;
  background-color: white;
}
/* Header and Navigation */
header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  font-weight: bold;
  height: 64px;
}
header nav a {
  padding-right: 18px;
  text-decoration: none;
  color: dimgray;
}
nav ul li {
  display: inline-block;
  padding: 16px;
  margin-right: 24px;

}
.logo .colmar {
  color: dimgray;
}
.logo .academy {
  color: darkgray;
}
.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.logo img {
  height: 32px;
  margin-left: 24px;
}
/* First column */
.first-column {
  display: flex;
  width: 100%;
  background-color: darkgray;
  text-align: center;
}
.first-column img {
  display: flex;
  width: 60%;
  padding: 32px 24px;
}
.first-column h1 {
  font-size: 48px;
  font-weight: bold;
  padding-top: 200px;
  color: dimgrey;
  line-height: 1;
}
.first-column h2 {
  font-size: 24px;
  font-weight: bold;
  color: grey;
  line-height: 1.5;
  padding-top: 25px;
}
.first-column .button {
  color: white;
  background-color: dimgray;
  padding: 10px 120px;
  line-height: 3;
  text-decoration: none;
}
/* Medium column */
.medium-column {
  display: flex;
  width: 100%;
  background-color: white;
}
.medium-column .containers {
  width: 40%;
  display: inline-block;
  padding-top: 32px;
  }
.medium-column .information-main {
  width: 60%;
}
.medium-column .information-main img {
  display: flex;
  width: 90%;
  padding: 32px 24px;
  margin: auto;
}
.medium-column .information-main h1 {
  font-size: 38px;
  font-weight: bold;
  color: dimgrey;
  line-height: 2;
  padding-left: 24px;
  width: 85%;
}
.medium-column .information-main p {
  font-size: 22px;
  color: darkgray;
  width: 85%;
  line-height: 2;
  padding-left: 24px;
  }
.medium-column h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 2;
  padding-left: 24px;
}
.medium-column .container  {
  border: 1px solid grey;
  display: flex;
}
.medium-column .container-guest  {
  border: 1px solid grey;
  display: flex;

}
.medium-column span {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  align-content: center;
  }
/* Third column */
.third-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: darkgray;
  padding-left: 72px;
  padding-right: 72px;
  justify-content: space-between;
}
.third-column h1 {
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  padding: 32px 0;
  color: black;
}
.third-column img {
  display: inline-block;
  height: auto;
  padding-right: 24px;
}
